.websiteDimensions {
  overflow: hidden;
  margin-left: 2%;
}

/*index page*/
.index_Content-Container {
  display: flex;
  margin-left: 25%;
  margin-top: -3%;
}

.index_slide {
  height: 100vh;
  width: 100vh;
  margin: auto;
}

.index_image {
  height: 100%;
  width: 100%;
}

/*about page*/
#AboutContentTwo {
  font-size: 20px;
  height: 400vh;
  width: 50%;
  padding-top: 2%;
  left: 50px;
  overflow: none;
}

/*SeriesOnePage*/
.contactForm {
  height: 500px;
  width: 70%;
  border: grey solid 1px;
  padding: 5%;
  font-size: 15px;
  font-family: 'M PLUS 1p', sans-serif , bold;
}

a, p {
  color: black;
  font-family: 'M PLUS 1p', sans-serif , bold;
  font-size: 15px !important;
  text-decoration: none !important;
  text-decoration-color: none !important;
}

.thumbnails:hover {
  opacity: 0.6;
}

.accordion {
  text-decoration: none;
}

input {
  height: 30px;
}

textarea {
  height: 500px;
}

.navBarContainer {
  padding-left: 5%;
  margin-top: 3%;
  width: 100%;
  display: flex;
  font-family: sans-serif;
}

.navBarContainer:hover {
  cursor: pointer;
}

#panel {
  display: none;
  height: 80vh;
  width: 100vh;
  /* position: absolute; */
  opacity: 0.4;
  /* text-align: center; */
  padding-top: 3vh;
  padding-left: 5%;
}

a, p {
  color: black;
  font-family: 'M PLUS 1p', sans-serif , bold;
  font-size: 25px;
  text-decoration: none !important;
  text-decoration-color: none !important;
}

a {
  color: black !important;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a {
  text-decoration: none;
  position: relative;
  /*
    webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  */
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.carousel-control-prev {
  height: 1000px;
  width: 18%;
  left: 7%;
}

.carousel-control-next {
  height: 1000px;
  width: 23%;
}

.carousel-control-prev:hover {
  cursor: w-resize;
  size: 20px;
}

.carousel-control-next:hover {
  cursor: e-resize;
}

#collapseTwo_panel {
  display: none;
}

#collapseInnerOne {
  padding-top: 2%;
  padding-bottom: 5%;
}

#collapseInnerTwo {
  padding-top: 2%;
  padding-bottom: 5%;
  margin-right: 20%;
}

.accordion-toggle {
  padding-top: 2%;
}

#accordion2 {
  padding-top: 2%;
}

#Date_2017 {
  padding-top: 2%;
}

#flip {
  padding-right: 2%;
}

.accordion-heading {
  padding-bottom: 2%;
}

@media (min-width: 320px) and (max-width: 568px) {
  .navBarContainer {
    padding-top: 5%;
    width: 100%;
    font-family: sans-serif;
  }

  #panel {
    display: none;
    height: 500px;
    width: 60%;
    background-color: white;
    position: flex;
    opacity: 0.4;
    text-align: center;
    padding-top: 1%;
  }

  a, p {
    color: black;
    font-family: 'M PLUS 1p', sans-serif , bold;
    font-size: 20px;
    text-decoration: none !important;
    text-decoration-color: none !important;
  }
}
#main {
  width: 180vh;
  height: 90vh;
  overflow: hidden;
  float: left;
  position: absolute;
  margin-top: -2%;
}

#image_container {
  float: left;
  height: 100%;
  margin-left: 20%;
  width: 55%;
  position: relative;
}

#art_text {
  width: 15%;
  height: 100%;
  float: left;
  position: relative;
  padding-top: 15%;
  font-size: 15px;
  margin-left: -10;
}

.slideShowImages {
  position: relative;
  width: 55%;
  height: 100%;
  padding: 1%;
  margin-left: 25%;
  margin-bottom: 5%;
}

#thumbnail {
  position: static;
  width: 100%;
  margin: auto;
  height: 13vh;
}

.thumbnail_dimesions {
  height: 80px;
  width: 100%;
  padding-left: 20px;
}

#thumbnail_one {
  width: 85px;
}

#thumbnail_two {
  width: 80px;
}

#thumbnail_three {
  width: 110px;
}

#thumbnail_four {
  width: 100px;
}

#thumbnail_five {
  width: 100px;
}

#thumbnail_six {
  width: 90px;
}

#thumbnail_seven {
  width: 100px;
}

#art_text-caption {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 75vh;
  /* padding-top: 20px; */
  padding-bottom: 20px;
  color: black;
  text-align: center;
  top: 30vh;
  padding-left: 5%;
}

#castlehill-img {
  height: 300px;
  margin-top: 3%;
}

.cv {
  height: 120vh;
}

.fuckyou {
  height: 450px;
}

#cellphoneScale {
  height: 100%;
  width: 200vh;
  overflow: scroll;
  border: red 1px;
}

.CellImages {
  display: block;
  width: 100%;
  height: 86%;
}

.text_cell {
  text-align: center;
}

@media screen and (max-width: 1920px) and (min-width: 1516px) {
  #cellphoneScale {
    display: none;
  }

  #art_text_cell {
    display: none;
  }
}
@media screen and (max-width: 1515px) and (min-width: 1500px) {
  #cellphoneScale {
    display: none;
  }

  #art_text_cell {
    display: none;
  }

  #image_container {
    margin-left: 8%;
    width: 55%;
    position: relative;
  }
}
@media screen and (max-width: 1499px) and (min-width: 1200px) {
  #cellphoneScale {
    display: none;
  }

  #art_text_cell {
    display: none;
  }

  #image_container {
    margin-left: 8%;
    width: 55%;
    position: relative;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 900px) {
  #cellphoneScale {
    display: none;
  }

  #art_text_cell {
    display: none;
  }

  .slideShowImages {
    padding: 1%;
    width: 55%;
    right: 2%;
  }

  #image_container {
    margin-left: -1%;
    width: 60%;
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 989px) and (min-width: 900px) {
  #cellphoneScale {
    display: none;
  }

  #art_text-caption {
    left: 67vh;
  }

  .slideShowImages {
    width: 70%;
    margin-left: 15%;
  }

  .carousel-control-next {
    height: 1000px;
    width: 26%;
  }

  #main {
    width: 170vh;
  }

  .image_container {
    height: 100%;
    margin-left: -2%;
    width: 50%;
    margin-top: 1%;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: visible;
  }
}
@media only screen and (max-width: 899px) and (min-width: 765px) {
  #cellphoneScale {
    display: none;
  }

  #art_text-caption {
    left: 67vh;
  }

  .slideShowImages {
    width: 70%;
    margin-left: 15%;
  }

  .carousel-control-next {
    height: 1000px;
    width: 26%;
  }

  #main {
    width: 170vh;
  }

  #image_container {
    height: 100%;
    margin-left: -4%;
    width: 50%;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: visible;
  }
}
@media only screen and (max-width: 764px) and (min-width: 692px) {
  #cellphoneScale {
    display: none;
  }

  .slideShowImages {
    width: 85%;
    height: 100%;
    padding: 1%;
    margin-left: 9%;
    margin-bottom: 15%;
  }

  #art_text-caption {
    position: absolute;
    right: 4vh;
    bottom: 20px;
    left: 10vh;
    padding-bottom: 20px;
    color: black;
    text-align: center;
    top: 67vh;
    padding-left: 5%;
  }

  #main {
    width: 170vh;
  }

  #image_container {
    height: 100%;
    margin-left: -2%;
    width: 55%;
  }

  #thumbnail {
    display: block;
  }
}
@media only screen and (min-width: 600px) and (max-width: 691px) {
  #cellphoneScale {
    display: none;
  }

  .slideShowImages {
    width: 85%;
    height: 100%;
    padding: 1%;
    right: 35%;
    padding-bottom: 15%;
  }

  .carousel-control-next {
    height: 1000px;
    width: 23%;
    right: 9%;
  }

  #image_container {
    height: 100%;
    margin-left: -4%;
    width: 60%;
  }

  #art_text {
    width: 9%;
    margin-left: -40%;
    margin-top: 24%;
  }

  #thumbnail {
    display: none;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: visible;
  }
}
@media only screen and (max-width: 599px) and (min-width: 572px) {
  #cellphoneScale {
    display: none;
  }

  #art_text-caption {
    position: absolute;
    right: 49vh;
    bottom: 20px;
    /* left: 8vh; */
    /* padding-top: 20px; */
    padding-bottom: 20px;
    color: black;
    text-align: center;
    top: 66vh;
  }

  .slideShowImages {
    width: 85%;
    height: 100%;
    padding: 1%;
    right: 35%;
    padding-bottom: 15%;
  }

  .carousel-control-next {
    height: 1000px;
    width: 23%;
    right: 12%;
  }

  #image_container {
    height: 100%;
    margin-left: -6%;
    width: 60%;
  }

  #art_text {
    width: 9%;
    margin-left: -40%;
    margin-top: 26%;
  }

  #thumbnail {
    display: none;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: visible;
  }
}
@media only screen and (max-width: 571px) and (min-width: 320px) {
  #cellphoneScale {
    display: none;
  }

  #panel {
    margin-top: 2vh;
    margin-left: 4vh;
  }

  .slideShowImages {
    width: 45%;
    height: 100%;
    margin-left: 12%;
    padding: 1%;
    padding-bottom: 15%;
  }

  .carousel-control-next {
    height: 1000px;
    width: 23%;
    right: 12%;
  }

  #image_container {
    height: 100%;
    margin-left: -5%;
    width: 60%;
  }

  #art_text {
    width: 9%;
    margin-left: -42%;
    margin-top: 22%;
  }

  #thumbnail {
    display: none;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: visible;
  }
}
