


.contactForm{
height:500px;
width:70%;
border:grey solid 1px; padding:5%;
font-size:15px;
font-family: 'M PLUS 1p', sans-serif , bold;
}

a, p {
    color: black;
    font-family: 'M PLUS 1p', sans-serif , bold;
    font-size: 15px !important;;
    text-decoration: none !important;
    text-decoration-color: none !important;
}

.thumbnails:hover{
    opacity: 0.6;
}


.accordion{
	text-decoration: none;
}

input{
	height: 30px;
}

textarea{
	height: 500px;
}




