

.websiteDimensions{
	overflow: hidden;
     margin-left:2%;
  
}
/*index page*/
.index_Content-Container {
    display: flex;
	margin-left:25%;
	margin-top: -3%;
}

.index_slide{
	height:100vh;
	width:100vh;
	margin:auto;
	}
	
	.index_image{
		height:100%;
		width:100%;
	}
/*about page*/

#AboutContentTwo{
	font-size:20px;
	height:100%;
	width:50%;
	padding-top:2%; 
	left:50px;
	overflow: none;
}

/*SeriesOnePage*/











